
body {
	background: #FFFAFA;
}

/*NAVBAR*/
#mainnavbar {
	background: white;
	box-shadow: rgba(220,220,220) 0px 2px 10px;
}

.fas {
	padding-right: 8px;
}

/*.navbar.scrolled{
	background: rgb(222,192,222);
    transition: background 500ms;
}*/

button:focus {
	outline: none;
}

.navbar-collapse {
	justify-content: flex-end;
}

.navbar-light .navbar-brand {
	font-size: 1.7rem;
	color: #c2ae4c;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #c2ae4c;
}

.fas .fa-code {
	color: #c2ae4c;
}

#mainnavbar .nav-link {
	color: #FF69B4;
	font-size: 20px;
}

.nav-item {
	padding-right: 2.5rem;
}

/*HEADER*/
.hero {
	background-image: url("pinkdesk.jpg");
	min-height: 600px;
  	height: calc(100vh);
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 	position: relative;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.1);
}

.arrows {
	position: absolute;
	bottom:7%;
	left:50%;
	font-size: 2.85rem;
}

/*ABOUT SECTION*/
.about-img img {
	width: 300px;
	margin-bottom: 70px;
}

.about-header {
	margin-bottom: 20px;
}

h2 {
	font-family: belotta;
	color: #c2ae4c;
	font-size: 50px;
}

.about-content {
	padding-left: 40px;
	margin-top: 15px;
}

.about-content h3 {
	font-family: belotta;
	font-weight: lighter;
	color: #FF69B4;
}

.about-content p {
	line-height: 2;
	font-size: 18px;
	font-weight: 300;
}


/*PROJECTS SECTION*/
.projects {
	background: #f7f6ed;
}

.projects img {
	height: 15rem;
}

/*CONTACT SECTION*/
.contact {
	height: 15rem;
}


/*MEDIA QUERIES*/
@media(max-width: 990px) {
	.arrows {
		display: none;
	}
}


@media(max-width: 767px) {
	.about-content { 
		text-align: center;
		margin-bottom: 2rem;
	}

	.about-img img {
		margin-bottom: 1.5rem; 
		width: 15rem;
	}	

	.navbar-list {
		text-align: center;
	}

	.nav-item {
		padding-right: 0;
	}

}

