
/*NAVBAR*/
#mainnavbar {
	background: white;
	box-shadow: rgba(220,220,220) 0px 2px 10px;
}

.fas {
	padding-right: 8px;
}

/*.navbar.scrolled{
	background: rgb(222,192,222);
    transition: background 500ms;
}*/

button:focus {
	outline: none;
}

.navbar-collapse {
	justify-content: flex-end;
}

.navbar-light .navbar-brand {
	font-size: 1.7rem;
	color: #FF69B4;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #FF69B4;
}

.navbar-brand .fa-code {
	color: #FF69B4;
	/*color: #c2ae4c;*/
}

#mainnavbar .nav-link {
	color: #FF69B4;
	font-size: 20px;
}

#mainnavbar .nav-link:hover {
	color: black;
}

.nav-item {
	padding-right: 2.5rem;
}

/*HEADER*/
.hero {
	background-image: url("pinkdesk.jpg");
	min-height: 600px;
  	height: calc(100vh);
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 	position: relative;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.1);
}

.arrows {
	position: absolute;
	bottom:7%;
	left:50%;
	font-size: 2.85rem;
}

/*ABOUT SECTION*/
.about-img img {
	width: 300px;
	margin-bottom: 70px;
}

.about-header {
	margin-bottom: 20px;
}

h2 {
	font-family: belotta;
	color: #c2ae4c;
	font-size: 45px;
}

.about-content {
	padding-left: 40px;
	margin-top: 15px;
}

.about-content h3 {
	font-family: belotta;
	font-weight: lighter;
	color: #FF69B4;
}

.about-content p {
	line-height: 2;
	font-size: 18px;
	font-weight: 300;
}


/*PROJECTS SECTION*/
.projects-section {
 	background-color: #ff69b4;
	background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");/
}

.project-header h2 {
	color: white;
	margin-top: 20px;
}

.project-header p {
	color: #faf7f9;
	font-family: 'Dosis', sans-serif;
	font-size: 19px;
}

.projects-section img {
	height: 15rem;
	width: 100%;
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 	position: relative;
 	transition: all .2s ease-in-out;
 	margin-bottom: 10px;
}

.projects {
	margin-bottom: 20px;
}

.projects img:hover {
	transform: scale(0.9);
}

.projects h5 {
	color: white;
	font-family: 'Dosis', sans-serif;
}

/*CONTACT SECTION*/
.contact {
	
}


/*MEDIA QUERIES*/
@media(max-width: 990px) {
	.arrows {
		display: none;
	}

	.projects-section .row {
		text-align: center;
	}

	.projects {
		margin-bottom: 30px;
	}

	.projects-section img {
		height: 17rem;
		width: 22rem;
	}


}


@media(max-width: 767px) {
	.about-content { 
		text-align: center;
		margin-bottom: 2rem;
	}

	.about-img img {
		margin-bottom: 1.5rem; 
		width: 15rem;
	}	

	.navbar-list {
		text-align: center;
	}

	.nav-item {
		padding-right: 0;
	}

}

